body {
  background-color: #b4edd5;
  color: #f7f0cf;
}

.container {
  display: flex-box;
  border: 10px #e5a80d solid;
  background-color: #ce441a;
  margin: 2em 4em;
  max-height: 600px;
}

a {
  float: right;
  margin: 15px;
  text-decoration: none;
  background-color: #f7f0cf;
  padding: 5px 20px;
  border-radius: 10px;
  font-family: "Slabo 27px", serif;
  letter-spacing: 2px;
  font-weight: bolder;
  color: #ce441a;
  opacity: 0.8;
}

a:hover {
  background-color: #6df2cc;
  opacity: 1;
}

button {
  font-weight: bolder;
  color: #ce441a;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.8;
  background-color: #f7f0cf;
  border: 5px #e5a80d solid;

}

button:hover {
  background-color: #6df2cc;
  opacity: 1;
}


h1 {
  font-family: "Slabo 27px", serif;
  font-size: 40px;
  margin-left: 32%;
  padding: 10px;
}

#outcome {
  font-size: 20px;
  font-family: "Slabo 27px", serif;
  text-align: center;
  margin: 20px;
  display: block;
  object-fit: contain;
}
