body {
  font-family: "Roboto", sans-serif;
  margin: 10px 50px !important;
}

h1 {
  text-align: center !important;
  color: orange !important;
  font-size: 4em;
}

h2 {
  color: orange;

row {
 margin-left: 15px !important; 
}

a {
  color: teal !important;
  padding: 10px !important;
  text-decoration: none;
  margin: 5px;
  letter-spacing: 2px;
    text-decoration: none;

}

a:hover {
  color:orange !important;
}

a:visited {
  color: blue !important;
  text-decoration: none;
}

footer {
 margin-top: 40px !important; 
}
