body {
  font-family: "Roboto", sans-serif;
  margin: 10px 50px !important;
}

h1 {
  text-align: center !important;
  color: orange !important;
}

row {
 margin-left: 15px !important; 
}

a {
  color: teal !important;
  padding: 10px !important;
}

a:hover {
  color:orange !important;
}

a:active {
  color: darkblue !important;
}
